.chess-table {
  background: #f4f4f4;
  border-radius: 3px;
  border: 5px solid #111;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.chess-square--light,
.chess-square--dark {
  width: 70px;
  height: 70px;
  padding: 10px;
}
.chess-square--light {
  background: rgb(245, 139, 139);
}
.chess-square--dark {
  background: rgb(133, 14, 14);
}
